streamlit==1.40.0  # Latest stable version
google-generativeai==0.8.3  # Consider checking latest compatible version
pandas  # Latest stable version
#sqlite3  # Matches Python 3.x versions
pathlib # Matches Python 3.x versions
datetime  # Matches Python 3.x versions
plotly  # Includes both plotly.express and plotly.graph_objects
python-dotenv
faiss-cpu
groq
langchain-groq
PyPDF2
langchain_google_genai
langchain
streamlit
langchain_community
python-dotenv
pypdf
phidata
google-generativeai
streamlit
openai
duckduckgo-search
google-api-python-client
scholarly
google-search-results
joblib